.list-category{
    background-color: hsl(160, 100%, 75%);
    color : hsl(33, 100%, 88%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0%;
    border-radius: 10px;


}

.list-items{
     background-color: hsl(328, 100%, 54%);
     color: hsl(240, 100%, 50%);
     font-family: cursive;
     border-radius: 5px;
     margin :auto;
     border: 20px solid hsl(0, 0%, 0%);
     
}